/* .login-page for entire page styling */
.login-page {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.login-form {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  background-position: top 50px left 30px;
  justify-content: center;
  align-items: left;  /* จัดให้อยู่กลาง */
  background: url("./logo.gif") no-repeat;
  background-size: 300px 70px;  /* กำหนดขนาดของโลโก้ */
  background-position: top 2rem left 10rem;  /* ตำแหน่งของโลโก้ */
}

.logo {
  height: 70px;
  margin-bottom: 3rem;
}

.login-form h2 {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.login-form__label {
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.login-form__input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff5722;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
}

.login-button:hover {
  background-color: #e64a19;
}

.forgot-password {
  display: block;
  margin-top: 1.5rem;
  color: #ff5722;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
}

.or {
  text-align: center;
  margin: 1rem 0;
  color: #999;
}

.guest-login {
  color: #ff5722;
  font-size: 0.9rem;
  text-align: center;
  background-color: white;
  border: none;
}

.login-bg {
  flex: 1;
  background: url("./BG.jpg") no-repeat center center;
  background-size: cover;
}
