@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  
}

.sidebar {
    /* background-color: #2B2B2B; */
    color: white;
    width: 25vh; /* Match width to the MenuList */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    transform: scale(0.04); /* ปรับขนาดของ Logo ให้เล็กลง 50% */
}

.logo-icon {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: #2B2B2B;
   
   
}

.menu-bar {
  height: 88vh;
  width: 100%; /* Match with the width of the Sider */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  
}

.toggle-theme-button {
  width: 100%; /* Make button width match the MenuList and Sider */
  padding: 10px;
  text-align: center;
}